<ion-header>
  <ion-navbar>
    <ion-title>SmartHome</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home">

  <div *ngIf="isConnected">

    <ion-grid>
      <ion-row>
        <ion-col class="center">
          <br>
          <button ion-button color="danger"  (click)="disconnect($event)">DESCONECTAR</button>
        </ion-col>
      </ion-row>
    </ion-grid>

	<ion-item>
        <ion-label>Lâmpada</ion-label>
        <ion-toggle [(ngModel)]="relay1PowerOnModel" color="secondary"></ion-toggle>
      </ion-item>

	<ion-item id="casa-range1">
      <ion-range min="0" max="5" step="1" color="assertive" value="1">
        <ion-label range-left>
          Dimmer (a ser implementado)
        </ion-label>
      </ion-range>
    </ion-item>
  </div>

  <div *ngIf="!isConnected">

    <ion-grid>
      <ion-row>
        <ion-col class="center">
          <br>
          <button ion-button color="secondary"  (click)="connect($event)">CONECTAR</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
